:root {
	--bordrer-radius-outer: 14px;
	--border-radius-inner: calc(var(var(--bordrer-radius-outer) - 6px));
	--dark-blue: #001832;
	--subtle-blue: #092b4f;

	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Londrina Solid', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.position-rel {
	position: relative;
}

/***** Google Icons *****/
.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 40;
}

#img-bkg {
	background-image: url(./assets/bkg.png);
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#img-title {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 40px 0 100px;
	max-width: 90vw;
	z-index: 10;
}

#img-bl {
	position: fixed;
	bottom: 0;
	left: 0;
	max-width: 60vw;
}

#img-tl {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 60vw;
}

#img-br {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 30vw;
}

.galaxy {
	margin-bottom: 150px;
}

.galaxy-title {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	display: inline-block;
	padding: 0 0.5rem;
	background-color: var(--dark-blue);
}

h1 {
	color: white;
	font-weight: 400;
	font-size: 4rem;
	letter-spacing: 0.2rem;
}

.container-planets {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.container-planet {
	background-color: var(--dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	min-height: 230px;
}

p {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: white;
}

@media (max-width: 500px) {
	h1 {
		font-size: 2.8rem;
	}
	p {
		font-size: 1.5rem;
	}
}

.planet-img {
	border: solid 3px black;
	border-radius: 200px;
	display: block;
}

.planet-0 {
	/* red planet */
	width: 6rem;
}

.planet-1 {
	/* orange planet */
	width: 5rem;
	filter: hue-rotate(55deg) saturate(3.5);
}

.planet-2 {
	/* yellow planet */
	width: 4rem;
	filter: hue-rotate(65deg) brightness(2.5) saturate(0.6);
}

.planet-3 {
	/* green planet */
	width: 7rem;
	filter: hue-rotate(120deg) saturate(0.4) brightness(1.2);
}

.planet-4 {
	/* blue planet */
	width: 8rem;
	filter: hue-rotate(240deg) saturate(0.9);
}

.planet-5 {
	/* purple planet */
	width: 10rem;
	filter: hue-rotate(300deg) saturate(0.8);
}

.icon {
	font-size: 1rem;
	color: var(--dark-blue);
}

.btn {
	border: none;
	padding: 0.2rem 0.2rem 0;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px 3px;
}

.btn:hover {
	background-color: white;
}

.btn-edit {
	background-color: var(--subtle-blue);
}

.btn-delete {
	background-color: var(--subtle-blue);
}

.btn-delete:hover {
	background-color: #b22625;
}

.btn-cancel {
	background-color: #a2b3c5;
}

.btn-commit {
	background-color: green;
}

.container-add-planet {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.btn-new-planet {
	color: var(--subtle-blue);
	cursor: pointer;
	font-size: 3.5rem;
}

.btn-new-planet:hover {
	color: white;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: calc(100vh + 300px);
}

#img-visitor {
	translate: 0 50%;
}

#container-new-galaxy {
	background-color: #d9efff;
	padding: 0.4rem 1.5rem 1rem;
	border-radius: 20px;
}

h2 {
	text-align: center;
	padding-bottom: 1rem;
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

label {
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

input {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 0 4px;
	color: #3748a4;
	width: 12.5rem;
	margin: 4px 0;
}

.btn-add {
	font-size: 1.3rem;
	padding: 0 5px 0.1rem;
	margin-left: 5px;
}
